<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <div id="conveyorbelt-vertical-example">
        
        <oj-conveyor-belt orientation="vertical" data-oj-binding-provider="none">

          <oj-button value="registration" on-oj-action='[[buttonClick]]'>Registration</oj-button>
    
          <oj-button value="approval" on-oj-action='[[buttonClick]]'>Approval</oj-button>
     
          <oj-button value="profile" on-oj-action='[[buttonClick]]'>Profile</oj-button>
    
          <oj-button value="recipients" on-oj-action='[[buttonClick]]'>Recipients</oj-button>
    
          <oj-button value="recipient" on-oj-action='[[buttonClick]]'>Recipient</oj-button>
    
          <oj-button value="note" on-oj-action='[[buttonClick]]'>Note</oj-button>
    
          <oj-button value="document" on-oj-action='[[buttonClick]]'>Document</oj-button>
    
          <oj-button value="documents" on-oj-action='[[buttonClick]]'>Documents</oj-button>
    
          <oj-button value="notes" on-oj-action='[[buttonClick]]'>Notes</oj-button>
    
          <oj-button value="calendar" on-oj-action='[[buttonClick]]'>Calendar</oj-button>
    
          <oj-button value="subscription" on-oj-action='[[buttonClick]]'>Subscription</oj-button>
          
        </oj-conveyor-belt>
      </div>
      
      
      
      
      
    </div>
  </div>