<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
              
      <div id="conveyorbelt-vertical-example">
        
        <oj-conveyor-belt orientation="vertical" data-oj-binding-provider="none">

          <oj-button name="modules" value="registration">Registration</oj-button>
    
          <oj-button name="modules" value="approval">Approval</oj-button>
     
          <oj-button name="modules" value="profile">Profile</oj-button>
    
          <oj-button name="modules" value="recipients">Recipients</oj-button>
    
          <oj-button name="modules" value="recipient">Recipient</oj-button>
    
          <oj-button name="modules" value="note">Note</oj-button>
    
          <oj-button name="modules" value="document">Document</oj-button>
    
          <oj-button name="modules" value="documents">Documents</oj-button>
    
          <oj-button name="modules" value="notes">Notes</oj-button>
    
          <oj-button name="modules" value="calendar">Calendar</oj-button>
    
          <oj-button name="modules" value="subscription">Subscription</oj-button>
          
        </oj-conveyor-belt>
      </div>
      
      
      
      
      
    </div>
  </div>