/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.oj-navigationlist-listview 
{
  overflow-x: scroll;
}

.demo-robovalut-icon
{
  width:150px;
  height:18px
}

.demo-robovalut-icon:before
{
  content:url("images/robovault_logo.svg")
}

html:not([dir="rtl"]) .demo-robovalut-icon
{
  padding-right:4px
}

html[dir="rtl"] .demo-robovalut-icon
{
  padding-left:4px
}

.demo-robovalut-icon:before
{
  display:inline
}